.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
artifacts/
.DS_Store
.env

# packaging/build artifacts
*.egg-info/
build/
dist/


# Ignore all datasets by default (large files)
data/**

# ...but keep a tiny sample dataset for CI
!data/raw/sample/
!data/raw/sample/**
