# Ignore virtualenv + cache
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Ignore all data by default (large)
data/**

# Allow the folder structure so sample files can be tracked
!data/
!data/raw/
!data/raw/sample/
!data/raw/sample/**

# Ignore processed/interim outputs (generated)
data/interim/**
data/processed/**

# Ignore artifacts (generated)
artifacts/**

.DS_Store
.env

# packaging/build artifacts
*.egg-info/
build/
dist/
